{% extends 'base.html' %}

{% load static %}

{% block title %}<title>{{ titulo }}</title>{% endblock %}
{% block includes %}<link href="{% static 'appsite/css/estilos.css'%}" rel="stylesheet">{% endblock %}

{% block corpo %}
        
    <div class="container">
        <p class="h3" style="margin: 20pt 10pt">{{ titulo }}</p>
        
        {% if acao == 'alteracao' %}
            <form action="{% url 'appsite:cadastro' %}" class="" method="POST">
                {% csrf_token %}
                
                {% include 'appsite/form_projeto.html' %}
                
            </form>
            
        {% else %}
            <form action="" class="" method="POST">
                {% csrf_token %}
                
                {% include 'appsite/form_projeto.html' %}

                
            </form>
        {% endif %}
    </div>
{% endblock %}     
    
    