{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Exibe</title>{% endblock %}
{% block includes %}<link href="{% static 'appsite/css/estilos.css'%}" rel="stylesheet">{% endblock %}

{% block corpo %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert" style="margin: 30pt 0">
                <strong>{{ message }}</strong>}
            </div>
            {% endfor %}
        {% endif %}

        <div style="margin: 30pt 0">
            <p class="h3 p-2">Projeto</p>

            <div class="p-2">
                <p class="d-inline h5">Autor: </p>
                <div class="d-inline">{{ projeto.autor }}</div>
            </div>
            
            <div class="p-2">
                <p class="d-inline h5">Nome do Projeto:</p>
                <div class="d-inline">{{ projeto.nomeProjeto }}</div>
            </div>
            
            <div class="p-2">
                <p class="d-inline h5">Linguagens:</p>
                {% for x in linguagem %}
                    {{ x.nome }}
                {% endfor %}
            </div>
                        
        </div>
    
    {% if remove_projeto_form %}
        <div class="">
            <form action="{% url 'appsite:remove' %}" method="POST" class="d-inline p-2" id="remove_projeto" novalidate>
                {% csrf_token %}

                <button id="btn_remove" class="btn btn-danger">Remover</button>
            </form>

            <form action="{% url 'appsite:edita' projeto.id %}" class="d-inline p-2" method="POST" id="edita_projeto" novalidate>
                {% csrf_token %}

                <button id="btn-edita" class="btn btn-dark">Alterar</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block domready %}
    $("#btn_remove").click(function() {
        $("#remove_projeto").append('{{ remove_projeto_form.projeto_id }}')
        $("#remove_projeto").submit()
    })

    $('#btn-edita').click(function () {
        $('#edita_projeto').append('{{ remove_projeto_form.projeto_id }}')
        $('#edita_projeto').submit()
    })
    
{% endblock %}